:root {
    --pink: hsl(322, 100%, 66%);
    --pink-trans: hsla(322, 100%, 66%, 0.75);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --grayish-blue-transparent: hsla(208, 11%, 55%, 0.5);
    
}
@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-VariableFont_wght.ttf) format(truetype),
        url(./fonts/Poppins-VariableFont_wght.woff) format(woff),
        url(./fonts/Poppins-VariableFont_wght.woff2) format(woff2);
    font-weight: 600;
}
@font-face {
    font-family: 'OpenSans';
    src: url(./fonts/OpenSans-VariableFont_wdth\,wght.ttf) format(truetype),
        url(./fonts/OpenSans-VariableFont_wdth\,wght.woff) format(woff),
        url(./fonts/OpenSans-VariableFont_wdth\,wght.woff2) format(woff2);
}
/* Body */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.125rem; /* 18px */
    font-family: 'OpenSans';
    font-weight: 400;
    background-color: white;
    color: var(--very-dark-cyan);
}
/* Hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--very-pale-cyan);
    background-image: url('./images/bg-hero-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero__container {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 90%;
    max-width: 79.4rem /* 1272px */;
}
/* Hero header */
.hero__header {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3.25rem 0;
}
.header__logo {
    width: 13rem;
}
.header__button {
    width: 12rem;
    padding: 0.75rem;
    border-radius: 2rem;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: white;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
    box-shadow: 0.25rem 0.25rem 0.5rem var(--grayish-blue-transparent),
                -0.25rem 0.25rem 0.5rem var(--grayish-blue-transparent);
}
.header__button:hover {
    background-color: var(--very-dark-cyan);
    color: white;
}
/* Hero section */
.hero__section {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
    width: 100%;
    padding: 3rem 0;
}
.hero__content {
    display: inherit;
    flex-direction: column;
    justify-content: inherit;
    align-items: inherit;
    gap: 3rem;
    width: 90%;
}
.hero__title {
    font-family: 'Poppins';
    font-size: 3rem;
    line-height: 1.5;
}
.hero__text {
    font-size: 2rem;
    line-height: 1.5;
}
.hero__button {
    width: 80%;
    padding: 1.6rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--pink);
    color: white;
    margin: 1rem 0;
    cursor: pointer;
    transition: opacity 0.3s ease;
    box-shadow: 0.25rem 0.25rem 0.5rem var(--grayish-blue-transparent),
                -0.25rem 0.25rem 0.5rem var(--grayish-blue-transparent);
}
.hero__button:hover {
    background-color: var(--pink-trans);
}
.hero__image {
    width: 90%;
    padding: 2rem 0;
}


/* social links */
.social__link svg {
    width: 3rem;
    height: auto;
}